html,body {
height:100%;
background-color:#FA8072;
}
header {
display:block;
background:#d7e0f9;
padding:12px 0px;
}
section {
width: 85%;
float: left;
overflow: auto;
padding-bottom: 62px;
padding-top:35px;
color: green;
}
footer {
position: relative;
margin-top: -55px;
height: 40px;
padding:5px 0px;
clear: both;
background: #d7e0e9;
text-align: center;
color: black;
}
